{{page-title "KshopApp"}}

<nav>
  <div class="px-2 sm:px-6 lg:px-8 border-b border-gray-200 m-b-20">
    <div class="relative flex h-16 items-center justify-between">
       <img src="/assets/images/company-logo.png" class="h-8 w-36" />
        <CartIcon />
    </div>
  </div>
</nav>

{{outlet}}